AudioPlayerFrontendWpf/Connected Services/AudioServiceReference/AudioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AudioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:30350/AudioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:30350/AudioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:30350/AudioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AudioPlayerBackendLib" />
      <xsd:import schemaLocation="http://localhost:30350/AudioService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAudioService_GetDebugInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDebugInfo" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetDebugInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDebugInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetStates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStates" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatesResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetPositon_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPositon" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetPositon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPositonResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPosition" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetDuration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDuration" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetDuration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDurationResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetPlayState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayState" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetPlayState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayStateResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetPlayState_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPlayState" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetPlayState_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPlayStateResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_Play_InputMessage">
    <wsdl:part name="parameters" element="tns:Play" />
  </wsdl:message>
  <wsdl:message name="IAudioService_Play_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_Pause_InputMessage">
    <wsdl:part name="parameters" element="tns:Pause" />
  </wsdl:message>
  <wsdl:message name="IAudioService_Pause_OutputMessage">
    <wsdl:part name="parameters" element="tns:PauseResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IAudioService_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetIsAllShuffle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIsAllShuffle" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetIsAllShuffle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIsAllShuffleResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetIsAllShuffle_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIsAllShuffle" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetIsAllShuffle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetIsAllShuffleResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetIsSearchShuffle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIsSearchShuffle" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetIsSearchShuffle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIsSearchShuffleResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetIsSearchShuffle_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIsSearchShuffle" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetIsSearchShuffle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetIsSearchShuffleResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetIsOnlySearch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIsOnlySearch" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetIsOnlySearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIsOnlySearchResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetIsOnlySearch_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIsOnlySearch" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetIsOnlySearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetIsOnlySearchResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetSearchKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchKey" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetSearchKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetSearchKey_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSearchKey" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetSearchKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSearchKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetMediaSources_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaSources" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetMediaSources_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaSourcesResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetMediaSources_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMediaSources" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetMediaSources_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMediaSourcesResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetCurrentSong_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentSong" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetCurrentSong_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentSongResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetCurrentSong_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentSong" />
  </wsdl:message>
  <wsdl:message name="IAudioService_SetCurrentSong_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentSongResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetAllSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSongs" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetAllSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSongsResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetSearchSongs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchSongs" />
  </wsdl:message>
  <wsdl:message name="IAudioService_GetSearchSongs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchSongsResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_Next_InputMessage">
    <wsdl:part name="parameters" element="tns:Next" />
  </wsdl:message>
  <wsdl:message name="IAudioService_Next_OutputMessage">
    <wsdl:part name="parameters" element="tns:NextResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_Previous_InputMessage">
    <wsdl:part name="parameters" element="tns:Previous" />
  </wsdl:message>
  <wsdl:message name="IAudioService_Previous_OutputMessage">
    <wsdl:part name="parameters" element="tns:PreviousResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_Refresh_InputMessage">
    <wsdl:part name="parameters" element="tns:Refresh" />
  </wsdl:message>
  <wsdl:message name="IAudioService_Refresh_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshResponse" />
  </wsdl:message>
  <wsdl:message name="IAudioService_CloseInstance_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseInstance" />
  </wsdl:message>
  <wsdl:message name="IAudioService_CloseInstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseInstanceResponse" />
  </wsdl:message>
  <wsdl:portType name="IAudioService">
    <wsdl:operation name="GetDebugInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/GetDebugInfo" message="tns:IAudioService_GetDebugInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/GetDebugInfoResponse" message="tns:IAudioService_GetDebugInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/GetStates" message="tns:IAudioService_GetStates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/GetStatesResponse" message="tns:IAudioService_GetStates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPositon">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/GetPositon" message="tns:IAudioService_GetPositon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/GetPositonResponse" message="tns:IAudioService_GetPositon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/SetPosition" message="tns:IAudioService_SetPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/SetPositionResponse" message="tns:IAudioService_SetPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDuration">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/GetDuration" message="tns:IAudioService_GetDuration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/GetDurationResponse" message="tns:IAudioService_GetDuration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayState">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/GetPlayState" message="tns:IAudioService_GetPlayState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/GetPlayStateResponse" message="tns:IAudioService_GetPlayState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPlayState">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/SetPlayState" message="tns:IAudioService_SetPlayState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/SetPlayStateResponse" message="tns:IAudioService_SetPlayState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Play">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/Play" message="tns:IAudioService_Play_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/PlayResponse" message="tns:IAudioService_Play_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pause">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/Pause" message="tns:IAudioService_Pause_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/PauseResponse" message="tns:IAudioService_Pause_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/Stop" message="tns:IAudioService_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/StopResponse" message="tns:IAudioService_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIsAllShuffle">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/GetIsAllShuffle" message="tns:IAudioService_GetIsAllShuffle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/GetIsAllShuffleResponse" message="tns:IAudioService_GetIsAllShuffle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetIsAllShuffle">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/SetIsAllShuffle" message="tns:IAudioService_SetIsAllShuffle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/SetIsAllShuffleResponse" message="tns:IAudioService_SetIsAllShuffle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIsSearchShuffle">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/GetIsSearchShuffle" message="tns:IAudioService_GetIsSearchShuffle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/GetIsSearchShuffleResponse" message="tns:IAudioService_GetIsSearchShuffle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetIsSearchShuffle">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/SetIsSearchShuffle" message="tns:IAudioService_SetIsSearchShuffle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/SetIsSearchShuffleResponse" message="tns:IAudioService_SetIsSearchShuffle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIsOnlySearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/GetIsOnlySearch" message="tns:IAudioService_GetIsOnlySearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/GetIsOnlySearchResponse" message="tns:IAudioService_GetIsOnlySearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetIsOnlySearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/SetIsOnlySearch" message="tns:IAudioService_SetIsOnlySearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/SetIsOnlySearchResponse" message="tns:IAudioService_SetIsOnlySearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/GetSearchKey" message="tns:IAudioService_GetSearchKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/GetSearchKeyResponse" message="tns:IAudioService_GetSearchKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSearchKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/SetSearchKey" message="tns:IAudioService_SetSearchKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/SetSearchKeyResponse" message="tns:IAudioService_SetSearchKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMediaSources">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/GetMediaSources" message="tns:IAudioService_GetMediaSources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/GetMediaSourcesResponse" message="tns:IAudioService_GetMediaSources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMediaSources">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/SetMediaSources" message="tns:IAudioService_SetMediaSources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/SetMediaSourcesResponse" message="tns:IAudioService_SetMediaSources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSong">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/GetCurrentSong" message="tns:IAudioService_GetCurrentSong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/GetCurrentSongResponse" message="tns:IAudioService_GetCurrentSong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCurrentSong">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/SetCurrentSong" message="tns:IAudioService_SetCurrentSong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/SetCurrentSongResponse" message="tns:IAudioService_SetCurrentSong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/GetAllSongs" message="tns:IAudioService_GetAllSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/GetAllSongsResponse" message="tns:IAudioService_GetAllSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchSongs">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/GetSearchSongs" message="tns:IAudioService_GetSearchSongs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/GetSearchSongsResponse" message="tns:IAudioService_GetSearchSongs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Next">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/Next" message="tns:IAudioService_Next_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/NextResponse" message="tns:IAudioService_Next_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Previous">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/Previous" message="tns:IAudioService_Previous_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/PreviousResponse" message="tns:IAudioService_Previous_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Refresh">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/Refresh" message="tns:IAudioService_Refresh_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/RefreshResponse" message="tns:IAudioService_Refresh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseInstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IAudioService/CloseInstance" message="tns:IAudioService_CloseInstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAudioService/CloseInstanceResponse" message="tns:IAudioService_CloseInstance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAudioService" type="tns:IAudioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDebugInfo">
      <soap:operation soapAction="http://tempuri.org/IAudioService/GetDebugInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <soap:operation soapAction="http://tempuri.org/IAudioService/GetStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositon">
      <soap:operation soapAction="http://tempuri.org/IAudioService/GetPositon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPosition">
      <soap:operation soapAction="http://tempuri.org/IAudioService/SetPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDuration">
      <soap:operation soapAction="http://tempuri.org/IAudioService/GetDuration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayState">
      <soap:operation soapAction="http://tempuri.org/IAudioService/GetPlayState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPlayState">
      <soap:operation soapAction="http://tempuri.org/IAudioService/SetPlayState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Play">
      <soap:operation soapAction="http://tempuri.org/IAudioService/Play" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pause">
      <soap:operation soapAction="http://tempuri.org/IAudioService/Pause" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap:operation soapAction="http://tempuri.org/IAudioService/Stop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIsAllShuffle">
      <soap:operation soapAction="http://tempuri.org/IAudioService/GetIsAllShuffle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIsAllShuffle">
      <soap:operation soapAction="http://tempuri.org/IAudioService/SetIsAllShuffle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIsSearchShuffle">
      <soap:operation soapAction="http://tempuri.org/IAudioService/GetIsSearchShuffle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIsSearchShuffle">
      <soap:operation soapAction="http://tempuri.org/IAudioService/SetIsSearchShuffle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIsOnlySearch">
      <soap:operation soapAction="http://tempuri.org/IAudioService/GetIsOnlySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIsOnlySearch">
      <soap:operation soapAction="http://tempuri.org/IAudioService/SetIsOnlySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchKey">
      <soap:operation soapAction="http://tempuri.org/IAudioService/GetSearchKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSearchKey">
      <soap:operation soapAction="http://tempuri.org/IAudioService/SetSearchKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaSources">
      <soap:operation soapAction="http://tempuri.org/IAudioService/GetMediaSources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMediaSources">
      <soap:operation soapAction="http://tempuri.org/IAudioService/SetMediaSources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSong">
      <soap:operation soapAction="http://tempuri.org/IAudioService/GetCurrentSong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCurrentSong">
      <soap:operation soapAction="http://tempuri.org/IAudioService/SetCurrentSong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSongs">
      <soap:operation soapAction="http://tempuri.org/IAudioService/GetAllSongs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchSongs">
      <soap:operation soapAction="http://tempuri.org/IAudioService/GetSearchSongs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Next">
      <soap:operation soapAction="http://tempuri.org/IAudioService/Next" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Previous">
      <soap:operation soapAction="http://tempuri.org/IAudioService/Previous" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refresh">
      <soap:operation soapAction="http://tempuri.org/IAudioService/Refresh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseInstance">
      <soap:operation soapAction="http://tempuri.org/IAudioService/CloseInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AudioService">
    <wsdl:port name="BasicHttpBinding_IAudioService" binding="tns:BasicHttpBinding_IAudioService">
      <soap:address location="http://localhost:30350/AudioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>