AudioPlayerFrontendWpf/Connected Services/AudioServiceReference/AudioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AudioPlayerBackendLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AudioPlayerBackendLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30350/AudioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="States">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="ser:duration" />
      <xs:element minOccurs="0" name="Hashes" type="tns:Hashes" />
      <xs:element minOccurs="0" name="IsAllShuffle" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOnlySearch" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSearchShuffle" type="xs:boolean" />
      <xs:element minOccurs="0" name="PlayState" type="tns:PlayState" />
      <xs:element minOccurs="0" name="Position" type="ser:duration" />
      <xs:element minOccurs="0" name="SearchKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="States" nillable="true" type="tns:States" />
  <xs:complexType name="Hashes">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AllSongsHash" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentSongHash" type="xs:int" />
      <xs:element minOccurs="0" name="MediaSourcesHash" type="xs:int" />
      <xs:element minOccurs="0" name="SearchSongsHash" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hashes" nillable="true" type="tns:Hashes" />
  <xs:simpleType name="PlayState">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="PlayState" nillable="true" type="tns:PlayState" />
  <xs:complexType name="Song">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Index" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Song" nillable="true" type="tns:Song" />
  <xs:complexType name="ArrayOfSong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Song" type="tns:Song" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSong" nillable="true" type="tns:ArrayOfSong" />
</xs:schema>